<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	  <add key="login_url" value="http://10.145.129.44:8000/auth/login" />
	  <add key="commands_url" value="http://10.145.129.44:8000/commandes/get-all"/>
	  <add key="camambix_url" value="http://10.145.129.44:8000/api/stats/all-commandes"/>
	  <add key="type_url" value="http://10.145.129.44:8000/api/restaurant-all"/>
	</appSettings>
</configuration>